{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="msapplication-TileColor" content="#0E0E0E">
        <meta name="template-color" content="#0E0E0E">
        <meta name="msapplication-config" content="browserconfig.xml">
        <meta name="description" content="Index page">
        <meta name="keywords" content="index, page">
        <meta name="author" content="">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/imgs/template/favicon.svg' %}">
        <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
        <title>Match Genuis</title>
      </head>
<body>
   <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <iframe title="powerbi_eya" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=840b6abb-6a81-4d99-b8c9-e5917a660b2e&autoAuth=true&ctid=194fc3b6-ae65-46a3-8244-3dfd3c3cd6f9" frameborder="0" allowFullScreen="fasle"></iframe> 
        </div>
    </div>
    <!-- Utilisez l'URL du tableau de bord Power BI passée depuis la vue -->    
</body>
</html>
